<div class="row justify-content-md-center" *ngIf="lekovi !== undefined">
  <div class="col-md-11">
    <div class="row">
      <label class="col-md-1" *ngIf="lekovi.length !== 0">Prikazi: </label>
      <select class="form-control col-md-1" id="prikaz" [(ngModel)]="pager.velicinaStrane" (change)="promeniVelicinu()" *ngIf="lekovi.length !== 0">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <label class="col-md-2" *ngIf="lekovi.length === 0"> </label>
      <label class="col-md-5"> </label>
      <input type="text" class="form-control col-md-3" id="pretragaPolje" [(ngModel)]="pretragaPolje" placeholder="Unesite naziv"
      *ngIf="(lekovi.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">
      &nbsp;&nbsp;<button class="btn btn-primary" (click)="pretraga()"
       *ngIf="(lekovi.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">Pretraga</button>
    </div>
    <br>
    <table class="table table-hover" *ngIf="lekovi.length !== 0">
      <thead>
        <tr class="table-primary d-flex">
          <th class="col-md-1">#</th>
          <th class="col-md-6">Naziv</th>
          <th class="col-md-4">Grupa</th>
          <th class="col-md-1">Obrisi</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary d-flex" *ngFor="let lek of lekovi; let i = index">
          <th class="col-md-1">{{pager.velicinaStrane * (pager.trenutnaStrana - 1) + i+1}}</th>
          <td class="col-md-6">
              <a routerLink="/lek/{{lek.id}}">{{lek.naziv}}</a>
          </td>
          <td class="col-md-4">{{lek.grupa}}</td>
          <th class="col-md-1"><button class="btn btn-danger" (click)="obrisi(lek.id)">Obrisi</button></th>
        </tr>
      </tbody>
    </table>
    <h2 *ngIf="lekovi.length === 0 && pretragaIzvrsena">Nijedan lek sa trazenim kriterijumom nije prondajen!</h2>
  </div>
  <div>
    <app-pager *ngIf="lekovi.length !== 0" [pager]="pager" (izmenaEvent)="izlistajLekove($event)"></app-pager>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lekovi !== undefined && lekovi.length === 0 && !pretragaIzvrsena">
  <div class="col-md-11">
    <div class="row">
      <h2>Nijedan lek jos nije dodat!</h2>
    </div>
  </div>
</div>
