<div class="row justify-content-md-center" *ngIf="lekari !== undefined">
  <div class="col-md-11">
    <div class="row">
      <label class="col-md-1" *ngIf="lekari.length !== 0">Prikazi: </label>
      <select class="form-control col-md-1" id="prikaz" [(ngModel)]="pager.velicinaStrane" (change)="promeniVelicinu()" *ngIf="lekari.length !== 0">
        <option value="10">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
      <label class="col-md-2" *ngIf="lekari.length === 0"> </label>
      <label class="col-md-5"> </label>
      <input type="text" class="form-control col-md-3" id="pretragaPolje" [(ngModel)]="pretragaPolje" placeholder="Unesite ime, prezime ili email"
      *ngIf="(lekari.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">
      &nbsp;&nbsp;<button class="btn btn-primary" (click)="pretraga()" 
      *ngIf="(lekari.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">Pretraga</button>
    </div>
    <br>
    <table class="table table-hover" *ngIf="lekari.length !== 0">
      <thead>
        <tr class="table-primary d-flex">
          <th class="col-md-1">#</th>
          <th class="col-md-6">Ime i prezime</th>
          <th class="col-md-5">Email</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-secondary d-flex" *ngFor="let lekar of lekari; let i = index">
          <th class="col-md-1">{{pager.velicinaStrane * (pager.trenutnaStrana - 1) + i+1}}</th>
          <td class="col-md-6">
              <a routerLink="/lekar/{{lekar.id}}">{{lekar.ime}} {{lekar.prezime}}</a>
          </td>
          <th class="col-md-5">{{lekar.email}}</th>
        </tr>
      </tbody>
    </table>
    <h2 *ngIf="lekari.length === 0 && pretragaIzvrsena">Nijedan lekar sa trazenim kriterijumom nije prondajen!</h2>
  </div>
  <div>
    <app-pager *ngIf="lekari.length !== 0" [pager]="pager" (izmenaEvent)="izlistajLekare($event)"></app-pager>
  </div>
</div>

<div class="row justify-content-md-center" *ngIf="lekari !== undefined && lekari.length === 0 && !pretragaIzvrsena">
  <div class="col-md-11">
    <div class="row">
      <h2>Nema registrovanih lekara!</h2>
    </div>
  </div>
</div>
