<div class="container">

  <div class="row justify-content-md-center">
    <form class="col-md-6 box" [formGroup]="form" (ngSubmit)="dodajSimptom()">
      <fieldset>
        <div class="form-group row">
          <label for="naziv" class="control-label col-md-3"><b>Naziv</b></label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="naziv" name="naziv" placeholder="Naziv" [formControl]="form.controls['naziv']" 
            [class.is-invalid]="!form.controls['naziv'].valid && (form.controls['naziv'].touched || form.controls['naziv'].dirty)">
            <div *ngIf="form.controls['naziv'].hasError('required') && (form.controls['naziv'].touched || form.controls['naziv'].dirty)" 
            class="invalid-feedback">Ovo polje je obavezno!</div>
          </div>
        </div>
        <div class="form-group row">
          <label for="minVrednost" class="control-label col-md-3"><b>Od</b></label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="minVrednost" name="minVrednost" placeholder="Od" [formControl]="form.controls['minVrednost']"
            (keypress)="onlyNumber($event)" maxlength="5">
          </div>
        </div>
        <div class="form-group row">
          <label for="maxVrednost" class="control-label col-md-3"><b>Do</b></label>
          <div class="col-md-9">
            <input type="text" class="form-control" id="maxVrednost" name="maxVrednost" placeholder="Do" [formControl]="form.controls['maxVrednost']"
            (keypress)="onlyNumber($event)" maxlength="5">
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-9">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Dodajte</button>
            <button type="button" class="btn btn-danger" (click)="reset()">Resetujte</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <br>
  <br>

  <div class="row justify-content-md-center" *ngIf="simptomi !== undefined">
    <div class="col-md-11">
      <div class="row">
        <label class="col-md-1" *ngIf="simptomi.length !== 0">Prikazi: </label>
        <select class="form-control col-md-1" id="prikaz" [(ngModel)]="pager.velicinaStrane" (change)="promeniVelicinu()" 
        *ngIf="simptomi.length !== 0">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="50">50</option>
          <option value="100">100</option>
        </select>
        <label class="col-md-2" *ngIf="simptomi.length === 0"> </label>
        <label class="col-md-5"> </label>
        <input type="text" class="form-control col-md-3" id="pretragaPolje" [(ngModel)]="pretragaPolje" placeholder="Unesite naziv" 
        *ngIf="(simptomi.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">
        &nbsp;&nbsp;<button class="btn btn-primary" (click)="pretraga()" 
        *ngIf="(simptomi.length !== 0 && !pretragaIzvrsena) || pretragaIzvrsena">Pretraga</button>
      </div>
      <br>
      <table class="table table-hover" *ngIf="simptomi.length !== 0">
        <thead>
          <tr class="table-primary d-flex">
            <th class="col-md-1">#</th>
            <th class="col-md-6">Naziv</th>
            <th class="col-md-2">Od</th>
            <th class="col-md-2">Do</th>
            <th class="col-md-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr class="table-secondary d-flex" *ngFor="let simptom of simptomi; let i = index">
            <th class="col-md-1">{{pager.velicinaStrane * (pager.trenutnaStrana - 1) + i+1}}</th>
            <td class="col-md-6">{{simptom.naziv}}</td>
            <th class="col-md-2" *ngIf="simptom.minVrednost >= 0">{{simptom.minVrednost}}</th>
            <th class="col-md-2" *ngIf="simptom.minVrednost < 0"></th>
            <th class="col-md-2" *ngIf="simptom.maxVrednost >= 0">{{simptom.maxVrednost}}</th>
            <th class="col-md-2" *ngIf="simptom.maxVrednost < 0"></th>
            <td class="col-md-1"><button class="btn btn-danger" (click)="obrisi(simptom.id)">Obrisi</button></td>
          </tr>
        </tbody>
      </table>
      <h2 *ngIf="simptomi.length === 0 && pretragaIzvrsena">Nijedan simptom sa trazenim kriterijumom nije prondajen!</h2>
    </div>
    <div>
      <app-pager *ngIf="simptomi.length !== 0" [pager]="pager" (izmenaEvent)="izlistajSimptome($event)"></app-pager>
    </div>
  </div>

  <div class="row justify-content-md-center" *ngIf="simptomi !== undefined && simptomi.length === 0 && !pretragaIzvrsena">
    <div class="col-md-11">
      <div class="row">
        <h2>Nijedan simptom jos nije dodat!</h2>
      </div>
    </div>
  </div>

</div>
