<div class="container">
  <div class="col-md-12">
    <div class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" [class.active]="funkcionalnost === 'odabir'">
            <button class="btn" [class.btn-primary]="funkcionalnost === 'odabir'" [class.btn-outline-primary]="funkcionalnost !== 'odabir'" 
            style="cursor: pointer;" (click)="clickedFun('odabir')"><b>Odabir</b></button>
          </li>
          <li class="nav-item" [class.active]="funkcionalnost === 'dodavanje'">
            <button class="btn" [class.btn-primary]="funkcionalnost === 'dodavanje'" [class.btn-outline-primary]="funkcionalnost !== 'dodavanje'" 
            style="cursor: pointer;" (click)="clickedFun('dodavanje')"><b>Dodavanje</b></button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  <router-outlet></router-outlet>
</div>
