<div class="row justify-content-md-center"><!-- *ngIf="uloga === 'ADMIN'"-->
  <label class="col-md-12">&nbsp;</label>
  <label class="col-md-12">&nbsp;</label>
  <label class="col-md-12">&nbsp;</label>
  <h4><ul id="opcije">
    <li><a [routerLink]="['/lekari']">Lekari</a></li>
    <li><a [routerLink]="['/pacijenti']">Pacijenti</a></li>
    <li><a [routerLink]="['/bolesti']">Bolesti</a></li>
    <li><a [routerLink]="['/simptomi']">Simptomi</a></li>
    <li><a [routerLink]="['/lekovi']">Lekovi</a></li>
    <li><a [routerLink]="['/sastojci']">Sastojci lekova</a></li>
  </ul></h4>
</div>
